<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Talk Baby to Me {{title}}</title>
    <link rel="stylesheet" href="static/style.css">
    <!-- link bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

    <link rel="shortcut icon" href="static/favicon.ico">


</head>


<body>
    <table>
        <tr>
            <td>
            <div id="header">
                {% if about %}
                    <a id="info_icon" href="home"><img src="static/backarrow.svg" alt="more info" class="info_icon"></a>
                {% else %}
                    <a id="back_icon" href="about"><img src="static/info_outline.svg" alt="back home" class="info_icon"></a>
                {% endif %}
        

            </div>
            </td>
            <td>
                <div id="middle_header"></div></td>
            <td>
                {% if babypage %}
                    <a href="home"><h3 class="babyipsum_btn">Go Back</h3></a>
                {% else %}
                    <a href="babyipsum"><h3 class="babyipsum_btn">Baby Ipsum</h3></a>
                    
                {% endif %}
                </td>
        </tr>

    </table>
    <h1 class="title center">Talk Baby to Me {{ title }}</h1>

 

    {% block content %}
    {% endblock %}

 
<div id="footer"><p>Made by Zach Cohn | <a href="http://zachcohn.me" target="_blank">ZachCohn.me</a></p></div>
</body>
</html>
