<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Talk Baby to Me {{title}}</title>
    <link rel="stylesheet" href="static/style.css">
    <!-- link bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

    <link rel="shortcut icon" href="static/favicon.ico">
</head>


<body>

    <h1 class="title center">Talk Baby to Me {{ title }}</h1>
    

    {% block content %}
    {% endblock %}

    <div id="header">
        {% if about %}
            <a id="info_icon" href="home"><img src="static/backarrow.svg" alt="more info" class="info_icon"></a>
        {% else %}
            <a id="back_icon" href="about"><img src="static/info_outline.svg" alt="back home" class="info_icon"></a>
        {% endif %}
    </div>


    
</body>
</html>
