{% extends "index.html" %}

    
    {% block content %}
 


    <!-- three column table -->
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ title }}</h1>
            </div>
        </div>

        <form action="{{ url_for('quotes') }}" method="post">
            <textarea id="english_input" class="form-control input-lg" placeholder="Type English Here" name="english_string" rows="10" cols="80">{{ text }}</textarea>
            <br>
            
        <div class="row">
            <div class="col center">
                <input class="btn btn-primary mb-2 translate_btn" type="submit" value="Talk Baby to Me" id="translate_btn">
            </div>
        
            <!-- <div class="row">
            <div class="col-md">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td><form action="{{ url_for('quotes') }}" method="post">
                                <textarea id="english_input" class="form-control input-lg" placeholder="Type English Here" name="english_string" rows="10" cols="80">{{ text }}</textarea>
                                <br>
                                
                            </td>
                            <td><input class="btn btn-primary mb-2 translate_btn" type="submit" value="Talk Baby to Me" id="translate_btn"></td>
                             <td><p>{{result}}</p></td> -->
                        <!-- </tr> -->

                    <!-- </tbody> -->
                <!-- </table>  -->
            </div>
        </div>



    {% endblock %}