{% extends "index.html" %}

    
    {% block content %}
 



    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ title }}</h1>
            </div>
        </div>

        <form action="{{ url_for('quotes') }}" method="post">
            <textarea id="english_input" class="form-control input-lg" placeholder="Type English Here" name="english_string" rows="10" cols="80">{{ text }}</textarea>
            <br>
            
        <div class="row">
            <div class="col center">
                <input class="btn btn-primary mb-2 translate_btn" type="submit" value="Translate to Baby" id="translate_btn">
            </div>

            </div>


            </div>
        </div>



    {% endblock %}